/*configuração GLOBAL*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}


/*configuração do HEADER*/
header{
    display: flex;
    justify-content: space space-evenly;
    gap: 20px;
    background-color: rgb(255, 221, 0);
}

header nav{
    display: flex;
    gap: 10px;
}

.logo-header{
    width: 50px;
    height: 50px;
}

.logo-btn-header{
    width: 30px;
    height: 30px;
}


/*configuração do BODY*/
body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 50px;
    background-color: grey;
    color: white;
}

#testeDois{
    height: auto;
    max-width: 300px;
    display: block;
    margin: 20px auto;
}

/*configuração do BLOCO-01*/
.bloco-01{
    width: 100%;
    height: 70vh;
    background-color: black;
    color: white;
}

.bloco-01 h1{
    margin-bottom: 20px;
    text-align: center;
    padding: 2rem;
}

.bloco-01 p{
    text-align: justify;
}


/*configuração do BLOCO-02*/
.bloco-02{
    width: 100%;
    height: 70vh;
    background-color: orange;
}


/*configuração do BLOCO-03*/
footer{
    background-color: rgba(255, 217, 0, 0.938);
    margin: 100vw auto;
}


/*configuração do FOOTER*/
footer img{
    width: 50px;
    height: 50px;
}

footer a{
    color: black;
    font-weight: 500;
    
}